In [32]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [33]:
import os
print(os.listdir(r"C:\Users\rache\linear_models_assignment"))

['.git', '.ipynb_checkpoints', 'assignment.ipynb', 'Assignment6.ipynb', 'data', 'README.md']

In [34]:
df = pd.read_csv(r"C:\Users\rache\linear_models_assignment\data\heart_hw.csv")

In [35]:
df.head(100)

    Unnamed: 0  age transplant  y
0            1   53    control  0
1            2   43    control  0
2            3   52    control  0
3            4   52    control  0
4            5   54    control  0
..         ...  ...        ... ..
95          96   36  treatment  1
96          97   45  treatment  1
97          98   53  treatment  0
98          99   30    control  1
99         100   48  treatment  1

[100 rows x 4 columns]

In [37]:
#a
n=103

prop = df[df['transplant'] == 'control']
a=(df['y'] == 1).sum() / len(prop)
print(a)

0.8235294117647058

In [39]:
#b

treat=df[df['transplant']=='treatment']
b=(df['y'] == 1).sum() / len(treat)
print(a-b)

#0.19417

0.41773231031543046

In [42]:
#2

df['transplant'] = df['transplant'].replace({'control': 0, 'treatment': 1})

x=df['transplant']
y=df['y']

def slr(x,y): 
    """ Single linear regression function. """
    x_bar = np.mean(x)
    y_bar = np.mean(y)
    b1 = np.inner(x-x_bar,y-y_bar)/np.inner(x-x_bar,x-x_bar)
    b0 = y_bar - b1*x_bar
    y_hat = b0 + b1*x
    residuals = y - y_hat
    return({'b0':b0,'b1':b1})

C:\Users\rache\AppData\Local\Temp\ipykernel_39744\3359593217.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['transplant'] = df['transplant'].replace({'control': 0, 'treatment': 1})

In [43]:
print(slr(x,y))

# The comparison between part 1 and part 2: part 1 shows the treatment differences while part two is more the statistical calculations for the equation of the regression line

{'b0': np.float64(0.11764705882352941), 'b1': np.float64(0.23017902813299232)}

In [44]:

def mlr(X,y): # Multiple linear regression, matrix algebra approach
    XpX = X.T@X # Compute X'X
    Xpy = X.T@y # Compute X'y
    b = np.linalg.solve(XpX, Xpy) # Solve normal equations
    y_hat = X@b # Compute predictions
    residuals = y-y_hat # Compute residuals
    SSE =  np.inner(residuals,residuals) # Compute SSE
    rsq = 1 - SSE/np.inner( y-np.mean(y),y-np.mean(y)) # Compute Rsq
    return({'b':b,'y_hat':y_hat,'residuals':residuals,'rsq':rsq,'SSE':SSE})

X = df[['(Intercept)', 'age', 'transplant']].astype(float).values
y = df['y'].astype(float).values


df['(Intercept)'] = 1
X = df.loc[:,['(Intercept)','age','transplant'] ]
y = df['y']
reg = mlr(X,y)
print('MLR coefficients: ', reg['b']) # Same values!

# The intercept here is much larger than the simple linear regression; adding another variable influenced it

MLR coefficients:  [ 0.70195697 -0.01360722  0.26470169]

In [49]:
y = df['y']
df['age*2'] = df['age']**2
df['transplant*2'] = df['transplant']**2
df['(Intercept)'] = 1
vars = ['(Intercept)','age','transplant','age*2']
X = df.loc[:,vars]
X.head()

   (Intercept)  age  transplant  age*2
0            1   53           0   2809
1            1   43           0   1849
2            1   52           0   2704
3            1   52           0   2704
4            1   54           0   2916

In [50]:
def mlr(X,y): # Multiple linear regression, matrix algebra approach
    XpX = X.T@X # Compute X'X
    Xpy = X.T@y # Compute X'y
    b = np.linalg.solve(XpX, Xpy) # Solve normal equations
    y_hat = X@b # Compute predictions
    residuals = y-y_hat # Compute residuals
    SSE =  np.inner(residuals,residuals) # Compute SSE
    rsq = 1 - SSE/np.inner( y-np.mean(y),y-np.mean(y)) # Compute Rsq
    return({'b':b,'y_hat':y_hat,'residuals':residuals,'rsq':rsq,'SSE':SSE})


df['(Intercept)'] = 1
reg = mlr(X,y)
print('MLR coefficients: ', reg['b']) # Same values!

MLR coefficients:  [-0.03493276  0.0279097   0.25238423 -0.00053078]